.footer {
    position: relative;
    min-height: 10rem;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    background-color: black;
    color: white;
    
  }
  
  .socials a {
    margin-right: 20px;
    color:  lightblue;
    text-decoration: none;
  }

