#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position:fixed;
    width: 100%;
    transition: background-color 0.5s;
    z-index: 6;
  }

.headerDirectory{
    display: flex;
    /* align-items: flex-end; */
    justify-content: space-between;
    
    min-width: 20rem;
    padding-left: 1rem;
    padding-right:10rem;
    color:white;
}  

a:link, a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  a:link:active, a:visited:active {
    color: white;
  }
